---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { buttonVariants } from "@/components/ui/button";
import { Icon } from 'astro-icon/components'
import FXServerLog from '@/components/FxServerLog'
import{ TypewriterEffect } from "@/components/ui/typewriter-effect";
import { ColorfulText } from "@/components/ui/colorful-text"
import { Projects } from '@/components/Projects'
import { Timeline } from '@/components/ui/timeline'


const words = [
    {
        text: "Howdy",
    },
    {
        text: "I'm",
    },
    {
        text: "Hakko!",
        class: "text-primary",
    }
]
---
<BaseLayout title="Hakko" description="Howdy, I'm Hakko!">
    <section class="container grid grid-cols-2 md:grid-cols-5 lg:grid-cols-5 items-center gap-6 pt-6 pb-8 md:py-10">
        <div class="col-span-2">
            <div class="flex max-w-[980px] flex-col items-start gap-2">
                <p class="text-2xl">
                    <TypewriterEffect client:load words={words}/>
                </p>
                <p class="text-muted-foreground max-w-[700px] text-base">
                    Self-taught "full stack" developer, system administrator, gamer and project advocate.
                </p>
            </div>
            <div class="flex flex-col md:flex-row lg:flex-row gap-4 mt-4">
                <a
                    href="#projects"
                    target="_blank"
                    rel="noreferrer"
                    class={`animate-shimmer ${buttonVariants({ variant: 'default' })}`}
                >
                    View Projects
                </a>
                <a
                    href="#about"
                    target="_blank"
                    rel="noreferrer"
                    class={buttonVariants({ variant: 'outline' })}
                >
                    Read More
                </a>
            </div>
        </div>
        <div class="col-span-3">
            <FXServerLog client:load/>
        </div>
    </section>

    <section id="projects" class="container items-center mx-auto justify-center pt-6 pb-8">
        <div class="flex justify-center mx-auto mb-4">
            <div class="flex max-w-[980px] flex-col items-center text-center gap-2">
                <p class="text-2xl">
                    <ColorfulText client:load text="My Projects"/>
                </p>
                <p class="text-muted-foreground max-w-[700px] text-base">
                    My active or notable projects!
                </p>
            </div>
        </div>
        <Projects client:load/>
    </section>

    <section id="about" class="container items-center mx-auto justify-center pt-6 pb-8">
        <div class="flex justify-center mx-auto mb-4">
            <div class="flex max-w-[980px] flex-col items-center text-center gap-2">
                <p class="text-2xl">
                    <ColorfulText client:load text="About Me"/>
                </p>
                <p class="text-muted-foreground max-w-[700px] text-base">
                    Learn more about me & my past!
                </p>
            </div>
        </div>
        <div class="flex justify-center mx-auto mb-4">
            <div class="flex flex-col max-w-[980px] items-center justify-center mx-auto text-center gap-2 bg-secondary rounded-xl p-4">
                <p class="text-muted-foreground max-w-[700px] text-base mb-1">
                    Howdy, I'm Hakko!
                </p>
                <p class="text-muted-foreground max-w-[700px] text-base mb-1">
                    I've been a software developer for about a decade, system administrator for ~4 years & a gamer for even longer. I started my ventures into these fantastic industries back in 2014-2015 with Garry's Mod, going off of nothing but YouTube tutorials and a passion to learn, I quickly fell in love with running communities, software development & technology in general. Since then, I've drastically expanded my horizons from software development all the way to starting my own hosting company.
                </p>
                <p class="text-muted-foreground max-w-[700px] text-base">
                    I've learned a lot along the way and I definitely wouldn't be here if it wasn't for all of my friends & family that have supported me along the way. If you're wondering where all of my work is, unfortunately its primarily done on private projects, though you can see all of the public work I do in the projects above or on my Github.
                </p>
            </div>
        </div>
    </section>
</BaseLayout>