---
const currentYear = new Date().getFullYear()
---
<footer class="border-t py-4 md:px-6 md:py-0">
    <div class="container flex flex-col items-center justify-between gap-4 h-16 md:h-20 md:flex-row">
        <p class="text-muted-foreground text-center text-sm leading-loose md:text-left">
            <!--
                ATTENTION

                By removing this line below, you are violating the license agreement included with this software. 
                This is an incredibly scummy thing to do... and also happens to be very illegal.

                So please do not remove this line :)

                Feel free to adapt to your use case, but keep the attribution.
            -->
            Copyright © {currentYear}. Website crafted with ❤️ by <a href="https://hakko.dev" class="text-primary hover:underline">Hakko</a>
        </p>
    </div>
</footer>